<!doctype html>
<html>
<head>
    <title>
        DevCafe
        {% if page.title %}
            - {{ page.title }}
        {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
</head>
<body>
    <div class="container">
        <header>
          <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/wip">WIP</a></li>
              <li><a href="/links">Links</a></li>
              <li><a href="/tricks">Tricks</a></li>
          </ul>
        </header>

        {{ content }}
    </div>
</body>
</html>
