<!DOCTYPE html>
<html>
<head>
        <title>
          {% if page.title %}
            {{ page.title }}
          {% else %}
            Dev Cafe
          {% endif %}
        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <link rel="stylesheet" href="/css/base.css" type="text/css" />
        <link rel="alternate" href="http://warpspire.com/feed/" type="application/rss+xml" />

  <script type="text/javascript" src="//use.typekit.net/oih2jiw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <div class="container">
    <header>
      <ul class="nav">
        <li><a href="/about">About</a></li>
        <li><a href="/posts">Posts</a></li>
        <li class="logo"><a href="/">Home</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/tricks">Tricks</a></li>
      </ul>
    </header>

    {{ content }}
  </div><!-- /.main -->

  <script type="text/javascript" src="/js/fastclick.js"></script>
  <script type="text/javascript">
    window.addEventListener('load', function() {
        new FastClick(document.body);
    }, false);
  </script>
</body>
</html>
